html {
	background-color: #5c3d3d;
}

body {
	width: 97%;
	margin: 1% auto;
	text-align: center;
	font-family: Arial, serif;
}

header {
	background-color: #999;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	align-items: center;
	
	display: -moz-flex;
	-moz-justify-content: space-between;
	align-items: center;
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	box-shadow: 7px 7px 4px #222;
	-webkit-box-shadow: 7px 7px 4px #222;
	-moz-box-shadow: 7px 7px 4px #222;
}

img {
	margin: 5px 15px;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
}

.navList {
	display: inline-block;
	color: #fcffc8;
	margin: auto 50px;
	padding: 12.5px 40px;
	background: #5c3d3d;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	box-shadow: inset 5px 5px 3px 3px #444;
	-webkit-box-shadow: inset 5px 5px 3px 3px #444;
	-moz-box-shadow: inset 5px 5px 3px 3px #444;
}


.navList:hover, .highlight {
	background-color: #ff9600;
	color: #5c3d3d;
}



#outerBox {
	position: relative;
	width: 96%;
	padding-bottom: 5%;
	margin: 2% auto;
	background-color: #fcffc8;
	border: 2px solid #999;
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
	box-shadow: inset 0 0 4px 4px #d6d9aa;
	-webkit-box-shadow: inset 0 0 4px 4px #d6d9aa;
	-moz-box-shadow: inset 0 0 4px 4px #d6d9aa;
}

#outerBox div {
	width: 90%;
	margin: auto;
	padding: auto 5%;
	font-size: 125%;
	color: #5c3d3d;
}

button {
	cursor: pointer;
	outline: 0;
	background-color: #fcffc8;
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

button:active {
	background-color: #d6d9aa;
}

footer {
	background-color: #999;
	margin: auto;
	width: 50%;
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
	box-shadow: 7px 7px 7px #444;
	-webkit-box-shadow: 7px 7px 7px #444;
	-moz-box-shadow: 7px 7px 7px #444;
}

.footertext {
	padding: 1%;
	color: #5c3d3d;
	
	display: flex;
	justify-content: space-between;
	
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	
	display: -moz-flex;
	-moz-justify-content: space-between;	
}



